@{
    Layout = null; // À ajuster si tu veux utiliser une mise en page (_Layout.cshtml)
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
</head>
<body>
    <div>
        The current date and time is @DateTime.Now
    </div>
</body>
</html>
