@model wacdoprojet.Models.Poste

@{
    ViewData["Title"] = "Détails";
}

<h1>Détails</h1>

<div>
    <h4>Poste</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intituleposte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intituleposte)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning btn-sm">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
