@model wacdoprojet.Models.Affectation

@{
    ViewData["Title"] = "Suppression";
}

<h1>Suppression</h1>

<h3>E
    tes vous certain de vouloir supprimer  cette affectation?</h3>
<div>
    <h4>Affectation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datedebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datedebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datefin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datefin)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
